@charset "UTF-8";

html {
    font-size: 10px;
}

a {text-decoration: none;}

.header-wrap {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}

.common-header {
    background: url(../images/header/header.png) no-repeat center/cover;
    height: 48rem;
}

.main-header {
    max-height: 108rem;
    /* height: 100vh; */
    background: none;
    /* height: 100%; */
    /* height: 108rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header #videoSlider {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-header #videoSlider div {
    width: 100%;
    height: 100%;
}

.main-header #videoSlider div video {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.main-header .btn-wrap {
    width: calc(100% - 28rem);
    padding: 0 14rem;
    max-width: 1360px;
    position: absolute;
    bottom: 25rem;
}

.main-header .btn-wrap .btn-container {
    width: 125px;
    /* position: absolute;
    bottom: 25rem; */
    /* left: 28rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-header .btn-wrap .btn-container button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header .btn-wrap .btn-container #sliderPrev, #sliderNext {
    height: 18px;
}

.main-header .btn-wrap .btn-container #sliderPrev, 
.main-header .btn-wrap .btn-container #sliderNext {
    height: 100%;
}

.main-header .btn-wrap .btn-container .slide-page {
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}

.main-header .btn-wrap .btn-container #videoPause, #videoPlay {
    height: 15px;
    width: 25px;
}

.main-header .btn-wrap .btn-container #videoPause img {
    height: 100%;
}

.main-header .btn-wrap .btn-container #videoPlay img {
    width: 100%;
}


.main-header .header-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22rem;
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.main-header .header-bottom .bottom-inner {
    width: calc(100% - 28rem);
    max-width: 1360px;
    padding: 0 14rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 21rem;
}

.main-header .header-bottom .bottom-inner ul li:nth-of-type(2) {
    padding-top: 2.9rem;
    padding-bottom: 1.8rem;
}

.main-header .header-bottom .bottom-inner ul li strong {
    color: #ffffff;
    font-family: "SD Gothic Neo";
    font-weight: 700;
    font-size: 2.3rem;
}

.main-header .header-bottom .bottom-inner ul li a {
    color: #cacaca;
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 1.7rem;
}

.main-header .header-bottom .bottom-inner ul li a img {
    margin-left: 1rem;
    filter: invert(95%) sepia(6%) saturate(16%) hue-rotate(346deg) brightness(86%) contrast(89%);
}


.main-header .header-bottom .scroll {
    position: absolute;
    /* right: 11.5rem; */
    left: calc(100% - 11.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-animation: hdscroll 1.5s infinite;
    animation: hdscroll 2s infinite;
    box-sizing: border-box;
}

.main-header .header-bottom .scroll span {
    color: #ffffff;
    font-family: "SD Gothic Neo";
    font-weight: 300;
    font-size: 1.9rem;
    padding-bottom: 2.8rem;
}

.main-header .header-bottom .scroll img {
    height: 5.2rem;
    width: 1.2rem;
}

@-webkit-keyframes hdscroll {
    0% {
      -webkit-transform: rotate(0) translate(0, -25px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(0) translate(0, 25px);
      opacity: 0;
    }
  }
  @keyframes hdscroll {
    0% {
      transform: rotate(0) translate(0, -25px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(0) translate(0, 25px);
      opacity: 0;
    }
  }

.header-wrap .gnb {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrap .gnb .mb-gnb ,
.header-wrap .gnb .mb-login {
    display: none;
}

.header-wrap .gnb .logo {
    height: 4.6rem;
    margin-left: 4rem;
}

.header-wrap .gnb .logo img {
    height: 100%;
}

.header-wrap .gnb .gnb-main {
    font-family: "SD Gothic Neo";
    font-weight: 700;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12rem;
}

.header-wrap .gnb .gnb-main li a {
    color: #ffffff;
}

.header-wrap .gnb .gnb-sub {
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.header-wrap .gnb .gnb-sub ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding-right: 2.7rem;
}

.header-wrap .gnb .gnb-sub ul li a {
    color: #ffffff;
}

.header-wrap .gnb button {
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 1.1rem 2.6rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    margin-right: 4rem;
    cursor: pointer;
}

.header-wrap .gnb .common-login {
    background: transparent;
    border: 1px solid #ffffff;
}

.header-wrap .gnb .main-login {
    background: #b3a696;
    border: 1px solid #b3a696;
}

.header-wrap .gnb button img {
    height: 1.8rem;
}

.header-wrap .title {
    width: 100%;
    max-width: 1920px;
    font-family: "SD Gothic Neo";
    font-weight: 900;
    font-size: 6rem;
    color: #ffffff;
    padding-top: 20rem;
    padding-left: 24rem;
}



/* 푸터 */

.footer-wrap {
    position: relative;
    background: url(../images/footer/footer.png) no-repeat right;
    width: 100%;
    height: 49rem;
    overflow: hidden;
    color: #ffffff;
}

.footer-wrap .container {
    position: relative;
    width: calc(100% - 56rem);
    max-width: 1920px;
    margin: 0 auto;
    padding: 10rem 28rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-wrap .container .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-wrap .container .about > div {
    width: 100%;
    height: 4rem;
} 

.footer-wrap .container .about > div img {
    height: 100%;
}

.footer-wrap .container .about > div span {
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 2.4rem;
}

.footer-wrap .container .about ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 4.8rem 0 2.8rem 0;
}

.footer-wrap .container .about ul li {
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 1.6rem;
}

.footer-wrap .container .about ul li:not(:last-child):after {
    display: inline-block;
    content: '';
    height: 1rem;
    width: 1px;
    background-color: #e1e1e1;
    margin-left: 2rem;
}

.footer-wrap .container .about p {
    font-family: "SD Gothic Neo";
    font-weight: 100;
    font-size: 1.6rem;
}

.footer-wrap .container .about p:nth-of-type(1) {
    padding-bottom: 1.2rem;
}

.footer-wrap .container .about p:nth-of-type(2) {
    line-height: 1.5;
}

.footer-wrap .container .about p:nth-of-type(2) .mb-br {
    display: none;
}

.footer-wrap .container .about p:nth-of-type(3) {
    font-size: 1.4rem;
    padding-top: 3.8rem;
}

.footer-wrap .container #family {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 22rem;
    height: 3rem;
    padding: 0 1rem;
    background: url(../images/footer/dropdown.png) no-repeat;
    background-position: left;
    background-position: 19rem;
    background-size: 2rem;
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 2rem;
    outline: none;
    border: 0 0 1px 0 solid #ffffff;
    color: #ffffff;
    border-width: 0 0 2px 0;
}

.footer-wrap .container #family option {
    background: #000000;
}


/*  ~1680px */

@media (max-width : 1680px) {

    html {
        font-size: 9px
    }

}

/*  ~1500px */

@media (max-width : 1500px) {

    html {
        font-size: 8.5px
    }

    .header-wrap .gnb .gnb-main {
        gap: 11rem;
    }

    .header-wrap .gnb .gnb-sub ul {
        gap: 2.5rem;
    }

    .header-wrap .title {
        padding-left: 23rem;
    }

    .footer-wrap .container {
        max-width: 1500px;
    }

    .footer-wrap .container #family {
        width: 21rem;
        background-position: 18rem;
    }

}

/*  ~1400px */

@media (max-width : 1400px) {

    html {
        font-size: 8.5px
    }

    
    .header-wrap .gnb .gnb-main {
        gap: 10rem;
    }

    .header-wrap .gnb .gnb-sub ul {
        gap: 2rem;
    }

    .header-wrap .title {
        padding-left: 22rem;
    }

    .footer-wrap .container {
        width: calc(100% - 52rem);
        max-width: 1400px;
        padding: 10rem 26rem;
    }

}

/*  ~1300px */

@media (max-width : 1300px) {

    html {
        font-size: 8px
    }

    .header-wrap .gnb {
        max-width: 1300px;
    }

    .header-wrap .gnb .gnb-main {
        gap: 11rem;
    }

    .header-wrap .gnb .gnb-sub ul {
        gap: 2.8rem;
    }

    .header-wrap .title {
        padding-left: 21rem;
    }

    .footer-wrap .container {
        width: calc(100% - 48rem);
        max-width: 1300px;
        padding: 10rem 24rem;
    }

    .footer-wrap .container #family {
        width: 20rem;
        background-position: 17rem;
    }

}

/*  ~1200px */

@media (max-width : 1200px) {

    html {
        font-size: 7.5px
    }

    .header-wrap .gnb {
        max-width: 1200px;
    }

    .header-wrap .gnb .gnb-main {
        gap: 10rem;
    }

    .header-wrap .gnb .gnb-sub ul {
        gap: 2.7rem;
    }

    .header-wrap .title {
        padding-left: 20rem;
    }

    .footer-wrap .container {
        width: calc(100% - 44rem);
        max-width: 1200px;
        padding: 10rem 22rem;
    }


}

/*  ~1100px */

@media (max-width : 1100px) {

    html {
        font-size: 7.5px
    }

    .main-header .header-bottom .bottom-inner {
        gap: 18rem;
    }

    .header-wrap .gnb {
        max-width: 1100px;
    }

    .header-wrap .gnb .gnb-main {
        gap: 9rem;
    }

    .header-wrap .gnb .gnb-sub ul {
        gap: 2.6rem;
    }

    .header-wrap .title {
        padding-left: 19rem;
    }

    .footer-wrap .container {
        width: calc(100% - 36rem);
        max-width: 1100px;
        padding: 10rem 18rem;
    }

    .footer-wrap .container #family {
        width: 19rem;
        background-position: 16rem;
    }

}


/*  ~1024px */

@media (max-width : 1024px) {

    html {
        font-size: 7px
    }

    .main-header .header-bottom .bottom-inner {
        gap: 15rem;
    }

    .header-wrap .gnb {
        max-width: 1024px;
    }

    .header-wrap .gnb .gnb-main {
        gap: 8rem;
    }

    .header-wrap .gnb .gnb-sub ul {
        gap: 2.4rem;
    }

    .header-wrap .title {
        padding-left: 18rem;
    }

    .footer-wrap .container {
        max-width: 1024px;
    }

}

/*  ~950px */

@media (max-width : 950px) {

    html {
        font-size: 7px
    }

    .main-header .header-bottom .bottom-inner {
        gap: 12rem;
    }

    .main-header .header-bottom .bottom-inner ul li strong {
        font-size: 2rem;
    }
    
    .main-header .header-bottom .bottom-inner ul li a {
        font-size: 1.4rem;
    }

    .header-wrap .gnb {
        max-width: 950px;
    }

    .header-wrap .gnb .gnb-main {
        gap: 7rem;
    }

    .header-wrap .gnb .gnb-sub ul {
        gap: 2.2rem;
    }

    .header-wrap .title {
        padding-left: 17rem;
    }

    .footer-wrap {
        display: flex;
        align-items: center;
    }

    .footer-wrap .container {
        max-width: 950px;
        padding: 0;
    }


    .footer-wrap .container .about p:nth-of-type(2) .mb-br {
        display: block;
    }

}

/*  ~850px */

@media (max-width : 850px) {

    html {
        font-size: 6.5px
    }

    .header-wrap .gnb {
        max-width: 850px;
    }

    .header-wrap .gnb .gnb-main {
        gap: 6rem;
    }

    .header-wrap .gnb .gnb-sub ul {
        gap: 2rem;
    }

    .header-wrap .title {
        padding-left: 16rem;
    }

    .footer-wrap .container {
        max-width: 850px;
    }

}

/* ~750px */

@media (max-width : 750px) {

    html {
        font-size: 10px;
    }
    
    .header-wrap {
        height: 60rem;
    }

    .main-header {
        height: 160rem;
    } 

    /* .main-header #videoSlider {
    } */

    .header-wrap .gnb {
        padding-top: 7rem;
    }

    .header-wrap .gnb .gnb-main ,
    .header-wrap .gnb .gnb-sub {
        display: none;
    }

    .header-wrap .gnb .mb-gnb ,
    .header-wrap .gnb .mb-login {
        display: block;
        width: 7.7rem;
        height: 7.7rem;
    }

    .header-wrap .gnb .mb-gnb img ,
    .header-wrap .gnb .mb-login img {
        width: 100%;
    }

    .header-wrap .gnb .mb-gnb {
        padding-left: 7rem;
    }

    .header-wrap .gnb .mb-login {
        padding-right: 7rem;
    }

    .header-wrap .gnb .logo {
        height: 7.6rem;
        margin-left: 0;
    }

    .header-wrap .gnb .logo a {
        height: 100%;
    }

    .header-wrap .gnb .logo a img {
        height: 100%;
    }

    .header-wrap .title {
        font-size: 7.2rem;
        padding-top: 19.2rem;
        padding-left: 7rem;
        color: #ffffff;
        overflow: hidden;
    }

    /* 푸터 */

    .footer-wrap {
        background: #000000 url(../images/footer/footer.png) no-repeat;
        background-size: 190%;
        background-position: right bottom;
        height: 68rem;
        display: flex;
        align-items: center;
    }

    .footer-wrap .container {
        width: calc(100% - 8rem);
        padding: 10rem 4rem;
        align-items: flex-start;
    }

    .footer-wrap .container .about > div {
        height: 5.4rem;
    } 

    .footer-wrap .container .about > div span {
        font-size: 4rem;
        margin-left: 1rem;
    }

    .footer-wrap .container .about ul {
        gap: 3rem;
        padding: 7.6rem 0 3.2rem 0;
    }

    .footer-wrap .container .about ul li {
        font-size: 2rem;
    }

    .footer-wrap .container .about ul li:not(:last-child):after {
        margin-left: 3rem;
    }

    .footer-wrap .container .about p {
        font-size: 2rem;
        font-weight: 300;
        color: #9c9c9c;
    }

    .footer-wrap .container .about p:nth-of-type(3) {
        font-size: 2rem;
        padding-top: 4.8rem;
    }

    .footer-wrap .container .about p:nth-of-type(2) .mb-br {
        display: block;
    }

    .footer-wrap .container .family-site {
        position: absolute;
        right: 0;
        margin-top: 1rem;
        padding-right: 4rem;
    }

    .footer-wrap .container #family {
        width: 29.7rem;
        height: 3.8rem;
        padding: 0;
        background-position: 270px;
        font-size: 2.4rem;
    }


}

/* ~670px */

@media (max-width: 670px) {

    html {
        font-size: 8.5px;
    }

    .footer-wrap .container #family {
        width: 27rem;
        height: 3.8rem;
        background-position: 205px;
    }

}

/* ~570px */

@media (max-width: 570px) {

    html {
        font-size: 7.5px;
    }

    .footer-wrap .container .about > div {
        height: 5.2rem;
    } 

    .footer-wrap .container .about > div span {
        font-size: 3.5rem;
    }

    .footer-wrap .container .about ul {
        gap: 2.8rem;
    }

    .footer-wrap .container .about ul li {
        font-size: 1.9rem;
    }

    .footer-wrap .container #family {
        width: 26rem;
        background-position: 175px;
    }

}

/* ~480px */

@media (max-width: 480px) {

    html {
        font-size: 6.5px;
    }

    .header-wrap .gnb .mb-gnb {
        padding-left: 5rem;
    }

    .header-wrap .gnb .mb-login {
        padding-right: 5rem;
    }

    .header-wrap .gnb .logo {
        height: 7rem;
        margin-left: 0;
    }

    .header-wrap .title {
        font-size: 6.5rem;
    }

    .footer-wrap .container .about > div {
        height: 4.8rem;
    } 

    .footer-wrap .container .about > div span {
        font-size: 3.2rem;
    }

    .footer-wrap .container .about ul {
        gap: 2rem;
    }

    .footer-wrap .container .about p {
        font-size: 1.8rem;
    }

    .footer-wrap .container #family {
        width: 25rem;
        height: 3.8rem;
        background-position: 145px;
    }
}

/* ~420px */

@media (max-width: 410px) {

    html {
        font-size: 5.5px;
    }

    .footer-wrap .container .about > div {
        height: 4.4rem;
    } 

    .footer-wrap .container .about > div span {
        font-size: 3rem;
    }

    .footer-wrap .container .about ul {
        gap: 1.5rem;
    }

    .footer-wrap .container .about ul li {
        font-size: 1.2rem;
    }

    .footer-wrap .container .about ul li:not(:last-child):after {
        margin-left: 1.5rem;
    }

    .footer-wrap .container #family {
        width: 22rem;
        background-position: 105px;
    }

}