@charset "UTF-8";

#intro {
    position: relative;
    width: 100%;
    height: 156rem;
    margin: 0 auto;
    background: #b3a696;
    overflow: hidden;
}


#intro .extra {
    position: absolute;
    left: 0;
    font-family: "Gotham";
    font-weight: 300;
    font-size: 40rem;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.4);
    animation: extra 2s ease-in-out;
    animation-play-state: paused;
}

#intro:hover > .extra {
    animation-play-state: running;
}

@keyframes extra {
    from {
        left: -600px;
    }
    to {
        left: 0;
    }
}

#intro .intro-wrap {
    width: calc(100% - 28rem);
    max-width: 1360px;
    padding: 24rem 14rem 25rem 14rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#intro .intro-wrap strong {
    font-family: "Gotham";
    font-weight: 700;
    font-size: 10rem;
    color: #ffffff;
}

#intro .intro-wrap .mb-br {
    display: none;
}

#intro .intro-wrap .web-text {
    color: #ffffff;
    font-family: "SD Gothic Neo";
    font-weight: 300;
    font-size: 2.5rem;
    padding-top: 4.7rem;
    line-height: 1.5;
}

#intro .intro-wrap .mb-text {
    color: #ffffff;
    font-family: "SD Gothic Neo";
    font-weight: 300;
    font-size: 3.5rem;
    padding-top: 4.7rem;
    line-height: 1.5;
    display: none;
}

#intro .intro-wrap .img-container {
    width: 100%;
    padding-top: 6rem;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#intro .intro-wrap .img-container img:nth-of-type(1) {
    position: absolute;
    top: 23.5rem;
    left: 0;
    width: 65rem;
    height: 45rem;
    z-index: 2;
}

#intro .intro-wrap .img-container img:nth-of-type(2) {
    position: absolute;
    top: 6rem;
    right: 0;
    width: 80rem;
    height: 80rem;
    z-index: 1;
}

#intro .intelligent {
    position: absolute;
    right: -50rem;
    bottom: 0;
    font-family: "Gotham";
    font-weight: 300;
    font-size: 40rem;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.4);
    animation: intelligent 2s ease-in-out;
    animation-play-state: paused;
}

#intro:hover > .intelligent {
    animation-play-state: running;
}

@keyframes intelligent {
    from {
        right: -150rem;
    }
    to {
        right: -50rem;
    }
}

#customerPick {
    width: 100%;
    position: relative;
    margin: 0 auto;
    background: url(../images/main/apartment_search_bg.png) no-repeat top/cover;
    overflow: hidden;
}

#customerPick .pick-inner {
    position: relative;
    width: calc(100% - 28rem);
    max-width: 1360px;
    padding: 15rem 14rem 26.4rem 14rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

#customerPick .pick-inner .pick-left {
    width: calc(44.5rem - 8rem);
    max-width: 36.5rem;
    padding-right: 8rem;
    width: 100%;
}


#customerPick .pick-inner .pick-left .search {
    position: relative;
    padding-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */

}

#customerPick .pick-inner .pick-left .search > p {
    color: #ffffff;
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 3.5rem;
    padding-bottom: 6.6rem;
}

#customerPick .pick-inner .pick-left .search select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 34rem;
    height: 5rem;
    padding: 0 0.5rem;
    background: url(../images/main/dropdown.png) no-repeat;
    background-position: 97% 50%;
    background-size: 1.5rem;
    font-family: "SD Gothic Neo";
    font-weight: 700;
    font-size: 2rem;
    outline: none;
    color: #ffffff;
    border-width: 0 0 2.5px 0;
}

#customerPick .pick-inner .pick-left .search select:not(:nth-of-type(3)) {
    margin-bottom: 3rem;
}

#customerPick .pick-inner .pick-left .search select option {
    background: #000000;
}

#customerPick .pick-inner .pick-left button {
    color: #ffffff;
    border: none;
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 2rem;
    border-radius: 0.4rem;
    width: 34rem;
    height: 6rem;
    cursor: pointer;
}

#customerPick .pick-inner .pick-left .reset {
    background: #006b86;
    margin-top: 6rem;

}

#customerPick .pick-inner .pick-left .self {
    background: #b3a696;
    margin-top: 2rem;
}

#customerPick .pick-inner .xi-explain {
    padding-top: 45rem;
}

#customerPick .pick-inner .xi-explain .respect {
    position: absolute;
    font-family: "Gotham";
    font-weight: 300;
    font-size: 12rem;
}

#customerPick .pick-inner .xi-explain .respect span:nth-of-type(1) {
    color: #b3a696;
}

#customerPick .pick-inner .xi-explain .respect span:nth-of-type(2) {
    color: #ffffff;
}

#customerPick .pick-inner .xi-explain p:nth-of-type(2) {
    padding-top: 33rem;
    color: #b3a696;
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4;
}

#customerPick .pick-inner .xi-explain p:nth-of-type(3) {
    padding-top: 5.7rem;
    color: #b3a696;
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4;
}

#customerPick .pick-inner .pick-right {
    position: relative;
    width: 100%;
    max-width: 92.5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

#customerPick .pick-inner .pick-right .result-left {
    padding-top: 20.3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8rem;
}

#customerPick .pick-inner .pick-right .result-left li:nth-of-type(1) div {
    background: url(../images/main/apartment_bg_1.png) no-repeat center/cover;
}

#customerPick .pick-inner .pick-right .result-left li:nth-of-type(2) div {
    background: url(../images/main/apartment_bg_2.png) no-repeat center/cover;
}

#customerPick .pick-inner .pick-right .result-left li:nth-of-type(3) div {
    background: url(../images/main/apartment_bg_3.png) no-repeat center/cover;
}

#customerPick .pick-inner .pick-right .result-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5rem;
}

#customerPick .pick-inner .pick-right .result-right li:nth-of-type(1) div {
    background: url(../images/main/apartment_bg_4.png) no-repeat center/cover;
}

#customerPick .pick-inner .pick-right .result-right li:nth-of-type(2) div {
    background: url(../images/main/apartment_bg_5.png) no-repeat center/cover;
} 

#customerPick .pick-inner .pick-right .result-right li:nth-of-type(3) div {
    background: url(../images/main/apartment_bg_6.png) no-repeat center/cover;
} 

#customerPick .pick-inner .pick-right ul li {
    width: 100%;
    height: 100%;
}

#customerPick .pick-inner .pick-right ul li div {
    position: relative;
    /* width: 43rem; */
    width: 100%;
    height: 63rem;
}

#customerPick .pick-inner .pick-right ul li div a {
    width: 100%;
    height: 100%;
}

#customerPick .pick-inner .pick-right ul li div button {
    border: none;
    color: #ffffff;
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 0.4rem;
    padding: 0.9rem 1.7rem;
    cursor: pointer;
}

#customerPick .pick-inner .pick-right ul li div .sell {
    background: #006b86;
}

#customerPick .pick-inner .pick-right ul li div .work {
    background: #7f7f7f;
}

#customerPick .pick-inner .pick-right ul li div .move {
    background: #ad9b85;
}

#customerPick .pick-inner .pick-right ul li div p {
    position: absolute;
    bottom: 9rem;
    left: 3.7rem;
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
}

#customerPick .pick-inner .pick-right ul li div strong {
    position: absolute;
    bottom: 4.5rem;
    left: 3.7rem;
    font-family: "SD Gothic Neo";
    font-weight: 700;
    font-size: 3rem;
    color: #ffffff;
}

#collage {
    position: relative;
    width: 100%;
    /* min-height: 500px; */
    height: 130rem;
    margin: 0 auto;
    background: url(../images/main/xi_collage_bg.png) no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#collage .xicollage {
    position: absolute;
    top: -11rem;
    left: 5rem;
    font-family: "Gotham";
    font-weight: 300;
    font-size: 45.5rem;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2);
}

#collage .xicollage span:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
}

#collage .xicollage span:nth-of-type(2) {
    position: absolute;
    top: 35rem;
    left: 40rem;
}

#collage > strong {
    position: absolute;
    left: 28rem;
    top: 19.4rem;
    color: #ffffff;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 10rem;
}

#collage .contents-container {
    position: absolute;
    bottom: 0;
    /* translate: (-50%, -0); */
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 82rem;
}

#collage .contents-container .video-explain {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 18rem 14rem;
    background: #1d8099;
    z-index: 5;
}

#collage .contents-container .video-explain > strong {
    font-family: "SD Gothic Neo";
    font-weight: 700;
    font-size: 4.5rem;
    color: #ffffff;
}

#collage .contents-container .video-explain > p {
    font-family: "SD Gothic Neo";
    font-weight: 300;
    font-size: 2rem;
    color: #ffffff;
    line-height: 1.4;
    padding-top: 3.5rem;
}

#collage .contents-container .video-explain ul {
    padding-top: 16rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#collage .contents-container .video-explain ul li button {
    width: 8.5rem;
    height: 0.6rem;
    background: #ffffff;
    border: none;
}

#collage .contents-container .video-explain ul li span {
    font-family: "SD Gothic Neo";
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
}

#collage .contents-container #collageContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 132rem;
    height: 100%;
    z-index: 4;
}

#collage .contents-container #collageContainer div {
    width: 100%;
    height: 100%;
}

#collage .contents-container #collageContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#collage .contents-container #collageContainer #collagePlay {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    padding: 0;
}

#collage .contents-container #collageContainer #collagePlay img {
    height: 100%;
}

#collage .contents-container #collageContainer #collageStop {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    padding: 0;
}

#collage .contents-container #collageContainer #collageStop img {
    height: 45%;
}

#xiNews {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #24252a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#xiNews .title-wrapper {
    max-width: 22rem;
    height: 100%;
}

#xiNews .title-wrapper span {
    display: inline-block;
    position: absolute;
    left: -40rem;
    top: 55rem;
    font-family: "Gotham";
    font-weight: 300;
    font-size: 30rem;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);
    transform: rotate(-90deg);
}

#xiNews .title-wrapper strong {
    display: inline-block;
    position: absolute;
    top: 65rem;
    left: 7.5rem;
    font-family: "Gotham";
    font-weight: 700;
    font-size: 10rem;
    color: #ffffff;
    transform: rotate(-90deg);
}

#xiNews .news-inner {
    width: calc(100% - 28rem);
    max-width: 1360px;
    padding: 20rem 14rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* justify-content: flex-start; */
    align-items: flex-end;
    gap: 7.5rem;
}

#xiNews .news-inner .news-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#xiNews .news-inner .news-content .img-wrapper {
    width: 24.5rem;
    height: 28rem;
    border: 1px solid #ad9b85;
}

#xiNews .news-inner .news-content .img-wrapper img {
    width: 100%;
    height: 100%;
}

#xiNews .news-inner .news-content .text-container {
    height: 26rem;
    width: 74.7rem;
    padding-left: 4.5rem;
}
#xiNews .news-inner .news-content .text-container strong {
    font-family: "SD Gothic Neo";
    font-weight: 500;
    font-size: 3rem;
    color: #ffffff;
}

#xiNews .news-inner .news-content .text-container p {
    font-family: "SD Gothic Neo";
    font-weight: 100;
    font-size: 1.6rem;
    color: #c4c4c4;
    line-height: 1.5;
    padding-top: 3.7rem;
}

#xiNews .news-inner .news-content .text-container > div {
    position: absolute;
    bottom: 0;
    width: 74.7rem;
    display: flex;
    justify-content: space-between;
}

#xiNews .news-inner .news-content .text-container > div span {
    font-family: "SD Gothic Neo";
    font-weight: 300;
    font-size: 1.8rem;
    color: #d3d3d3;
}

#xiNews .news-inner .news-content .text-container > div a {
    font-family: "Gotham";
    font-weight: 500;
    font-size: 1.8rem;
    color: #978c7e;
    border-bottom: 2px solid #978c7e;
    padding-bottom: 5px;
}





/*  ~1680px */

@media (max-width : 1680px) {

    html {
        font-size: 9px
    }

    #intro .intro-wrap .img-container {
        width: 90%;
    }

}

/*  ~1500px */

@media (max-width : 1500px) {

    html {
        font-size: 8.5px
    }

}

/*  ~1400px */

@media (max-width : 1400px) {

    html {
        font-size: 8.5px
    }

    #intro .intro-wrap .img-container {
        width: 100%;
    }

    #customerPick .pick-inner .pick-left {
        padding-right: 5rem;
    }

    #customerPick .pick-inner .pick-right {
        gap: 4rem;
    }

    #customerPick .pick-inner .pick-right ul li div {
        height: 58rem;
    }

    #collage {
        height: 120rem;
    }

    #collage .contents-container {
        height: 72rem;
    }

    #collage .contents-container .video-explain {
        padding: 14rem 10rem;
    }

    #collage .contents-container #collageContainer {
        width: 120rem;
    }


}

/*  ~1300px */

@media (max-width : 1300px) {

    html {
        font-size: 8px
    }

    /* #xiNews .title-wrapper span {
        left: -40rem;
        top: 55rem;
        font-size: 28rem;
    }
    
    #xiNews .title-wrapper strong {
        top: 65rem;
        left: 7.5rem;
        font-size: 8rem;
    } */


}

/*  ~1200px */

@media (max-width : 1200px) {

    html {
        font-size: 7.5px
    }

    #intro .intro-wrap {
        padding: 20rem 14rem 21rem 14rem;
    }

}

/*  ~1100px */

@media (max-width : 1100px) {

    html {
        font-size: 7.5px
    }

    #intro .intro-wrap strong {
        font-size: 9rem;
    }

    #intro .intro-wrap .web-text {
        font-size: 2.3rem;
    }

    #intro .intro-wrap .img-container img:nth-of-type(1) {
        width: 57rem;
        height: 40rem;
    }
    
    #intro .intro-wrap .img-container img:nth-of-type(2) {
        width: 75rem;
        height: 75rem;
    }

    #customerPick .pick-inner .pick-left {
        padding-right: 3rem;
    }

    #customerPick .pick-inner .pick-right {
        gap: 3rem;
    }

    #customerPick .pick-inner .pick-right ul li div {
        height: 55rem;
    }

    #collage {
        height: 115rem;
    }

    #collage .contents-container {
        height: 68rem;
    }

    #collage .contents-container .video-explain {
        padding: 12rem 8rem;
    }

    #collage .contents-container #collageContainer {
        width: 110rem;
    }

}

/*  ~1024px */

@media (max-width : 1024px) {

    html {
        font-size: 7px
    }

    #intro .intro-wrap .img-container img:nth-of-type(1) {
        width: 52rem;
        height: 35rem;
    }
    
    #intro .intro-wrap .img-container img:nth-of-type(2) {
        width: 70rem;
        height: 70rem;
    }


}

/*  ~950px */

@media (max-width : 950px) {

    html {
        font-size: 7px
    }

    #intro .intro-wrap .web-text {
        display: none;
    }

    #intro .intro-wrap .mb-text {
        display: block;
        font-size: 3rem;
    }

    #intro .intro-wrap .img-container img:nth-of-type(1) {
        width: 45rem;
        height: 30rem;
    }
    
    #intro .intro-wrap .img-container img:nth-of-type(2) {
        width: 65rem;
        height: 65rem;
    }

    #collage .contents-container #collageContainer {
        width: 100rem;
    }


}

/*  ~850px */

@media (max-width : 850px) {

    html {
        font-size: 6.5px
    }


}

/*  ~750px */

@media (max-width : 750px) {

    html {
        font-size: 10px
    }

    #intro {
        height: 192.3rem;
        width: calc(100% - 8rem);
        padding: 0 4rem;
    }

    #intro .extra {
        position: absolute;
        left: 2.5rem;
        font-size: 24rem;
    }

    @keyframes extra {
        from {
            left: -600px;
        }
        to {
            left: 4rem;
        }
    }

    #intro .intro-wrap {
        width: 100%;
        padding: 13rem 0 0 0;
    }

    #intro .intro-wrap strong {
        font-weight: 700;
        font-size: 7rem;
    }

    #intro .intro-wrap .mb-br {
        display: block;
    }

    #intro .intro-wrap .mb-text {
        font-weight: 500;
        font-size: 2.8rem;
        padding-top: 5rem;
    }


}